asgiref==3.8.1
Django==5.1.1
sqlparse==0.5.1
BookSystem_Api/
Bookstore/
Django-React-Full-Stack-App/
GeniusCArt/
auth/
backend/
church_2/
codecanyon-39645940-carpoint-multi-vendor-car-listing-directory/
crud/
django_Auth/
drf_auth/
farmcart/
first-react-project/
healthy_living/
htmx/
job_portal/
jwt/
jwt_authentication/
leetcode/
need_change/
phone_authentication/
qui/
quiqapi/
recipe_planner/
refresher/
theDifference/
todo/
voting_system/
weather_Application/
django-react-auth/backend/
django-react-auth/frontend/
django_ecommerce/Django-Ecommerce/
planandplate/Recipe/